<div class="col-xs-12 col-md-6" [ngClass]="{'col-md-offset-3': !allMembers.length}">
	<form>
		<div class="form-group">
			<label for="restaurantName">Choose restaurant's name</label>
			<select class="form-control" name="restaurantName" id="restaurantName" tabindex="1" [(ngModel)]="restaurantName">
				<option value="">Please Select</option>
				<option value="Opium">Opium</option>
				<option value="Lake Lite">Lake Lite</option>
			</select>
		</div>
		<div class="form-group">
			<label for="billDated">Select Bill Date</label>
			<input type="date" class="form-control" tabindex="2" id="billDated" name="billDated" [(ngModel)]="billDated" placeholder="Bill Dated">
		</div>
		<div class="form-group">
			<label for="addMember">Add Friends Individully</label>
			<div class="input-group mb-2 mr-sm-2 mb-sm-0">				
				<input type="text" class="form-control" tabindex="3" name="addMember" [(ngModel)]="addedMemberName"/>
				<div class="input-group-addon">
					<a href="javascript:void(0)" tabindex="4" role="button" (click)="AddMembers()" >
						<i class="fa fa-plus-circle fa-black fa-small" aria-hidden="true"></i>
					</a>
				</div>
			</div>			
		</div>
		<p class="text-center">OR</p>
		<div class="form-group">
			<label for="addGroup">Add Friends from group</label>
			<div class="input-group mb-2 mr-sm-2 mb-sm-0">				
				<select class="form-control" name="addGroup" [(ngModel)]="addedGroupName" tabindex="5">
					<option value="">Please select</option>
					<option value="Group 1">Group 1</option>
					<option value="Group 2">Group 2</option>
				</select>
				<div class="input-group-addon">
					<a href="javascript:void(0)" tabindex="6" role="button" (click)="AddGroup()" >
						<i class="fa fa-plus-circle fa-black fa-small" aria-hidden="true"></i>
					</a>
				</div>
			</div>			
		</div>
		<div class="form-group">
			<label for="addGroup">select bill type</label>
			<div class="row">
				<div class="col-xs-12 col-md-4">
					<input type="radio" name="bill_type" id="drinks_bill" value="drinks" [(ngModel)]="billType"/>
					<label class="bill-option-label col-xs-12" for="drinks_bill">
						<i class="fa fa-glass fa-black fa-small" aria-hidden="true"></i> &nbsp; &nbsp;
						Drinks
					</label>
				</div>
				<div class="col-xs-12 col-md-3">
					<input type="radio" name="bill_type" id="food_bill" value="food" [(ngModel)]="billType"/>
					<label class="bill-option-label col-xs-12" for="food_bill">
						<i class="fa fa-cutlery fa-black fa-small" aria-hidden="true"></i> &nbsp; &nbsp;
						Food
					</label>
				</div>
				<div class="col-xs-12 col-md-5">
					<input type="radio" name="bill_type" id="drinks_food_bill" value="both" [(ngModel)]="billType"/>
					<label class="bill-option-label col-xs-12" for="drinks_food_bill">
						<i class="fa fa-glass fa-black fa-small" aria-hidden="true"></i> 
						<i class="fa fa-cutlery fa-black fa-small" aria-hidden="true"></i> &nbsp; &nbsp;
						drinks & Food
					</label>
				</div>
			</div>	
		</div>
		<div class="row" *ngIf="errorMessages.length">
			<div class="col-xs-12 error-block">
				<div class="alert alert-danger">
					<ul>
						<li *ngFor="let error of errorMessages; let i = index;">
							{{error.message}}
						</li>
					</ul>
				</div>				
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-xs-12 text-center">
				<a href="javascript:void(0)" class="btn" (click)="onClickSplitNow()">Split Now 
					&nbsp;<i class="fa fa-long-arrow-right fa-small" aria-hidden="true"></i>
				</a>
			</div>
		</div>
		
	</form>
</div>
<div class="col-xs-12 col-md-4 pull-right" *ngIf="allMembers.length">
	<h4 class="text-center">Split between {{allMembers.length}} Friend<span *ngIf="allMembers.length > 1">s</span></h4>
	<br/>
	<div class="row">
		<div class="col-xs-12 col-md-6" *ngFor="let member of allMembers; let i = index">
			<div class="added-member clearfix" (mouseover)="onMouseOverAddedMemberBlock(member)" (mouseleave)="onMouseLeaveAddedMemberBlock(member)">
				<a href="javascript:void(0)" (click)="RemoveMember(i)" class="remove-user" *ngIf="member.isHover">
					<i class="fa fa-trash-o fa-black" aria-hidden="true"></i>
				</a>
				<div class="col-xs-12 nopadding">
					<p>
						<i class="fa fa-male" aria-hidden="true"></i> 
						<span class="user col-xs-10 pull-right">{{member.name}}</span>
					<p>
				</div>
			</div>
		</div>
	</div>
</div>